<footer class="footer">

  <div class="container">

    <!-- Logo -->

    <a href="#hero" class="logo">
      Reham.
    </a>

    <!-- Copyright -->

    <p class="copyright">
      © 2026 Reham Ayad. Crafted with care & attention to detail.
    </p>

    <!-- Social -->

    <div class="socials">

      <a
        href="https://github.com/YourGithub"
        target="_blank">

        <i class="fa-brands fa-github"></i>

      </a>

      <a
        href="https://linkedin.com/in/YourLinkedin"
        target="_blank">

        <i class="fa-brands fa-linkedin-in"></i>

      </a>

      <a
        href="https://x.com/"
        target="_blank">

        <i class="fa-brands fa-x-twitter"></i>

      </a>

      <a
        href="https://instagram.com/"
        target="_blank">

        <i class="fa-brands fa-instagram"></i>

      </a>

    </div>

  </div>

  <!-- Back To Top -->

  <a
    href="#hero"
    class="scroll-top">

    <mat-icon>arrow_upward</mat-icon>

  </a>

</footer>